{% extends 'base.html.twig' %}
{% block body %}

    <di>
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </di>
    <a href="{{ url('app_widgetorder_order') }}">Place order</a>

{% endblock %}