{% extends 'base.html.twig' %}
{% block body %}

    <div>
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div><a href="{{ url('app_widgetorder_order') }}" class="order">Place order</a></div>
    <div><a href="{{ url('app_widgetorderadmin_index') }}" class="order">Admin</a></div>

{% endblock %}